*.ipynb_checkpoints/
*.tmp
*.pyc
*.swp
*.swo
*.vscode
*.zip
*.tar
*.mp4

# ROS related
build/
devel/
models/
.catkin_workspace
*.log
*.pcd
*.bag

# Deep learning related
*.pth
*.pkl
*.h5
*.caffemodel
events.out.tfevents*

#datas
dataset/
data/